<launch>
  <param name="use_sim_time" value="true"/>

  <node name="custom_controller" pkg="my_robot_control" type="custom_controller.py" output="screen"/>

  <node name="rl_agent" pkg="my_robot_control" type="rl_agent.py" output="screen"/>

  <node pkg="tf2_ros" type="static_transform_publisher" name="base_to_velodyne" args="1.2 0 0.9 0 0 0 my_robot/velodyne chassis"/>
  
</launch>
